<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
   </connectionStrings>
  <appSettings>
   
    <!--Interview API Details-->
    <add key="InterviewLogin" value="https://localhost:7182/Login"/>
    <add key="InterviewTransfer" value="https://localhost:7182/Transaction"/>
    <add key="InterviewStatement" value="https://localhost:7182/Transaction?"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="5"/>
    <compilation targetFramework="4.7.2" debug="true"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Login.aspx"/>
    <httpRuntime enableVersionHeader="false" maxRequestLength="1048576"/>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always"/>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto"/>
    <authentication mode="Forms">
      <forms name=".AuthCookie" loginUrl="login.aspx" protection="All"/>
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, must-revalidate, no-cache"/>
        <add name="Pragma" value="no-cache"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-XSS-Protection" value="1;mode=block"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>